<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

# Data Science Tools and Ecosystem

# objectives

* Some of the popular languages that Data Scientists
* Some of the commonly used libraries used by Data Scientists

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. python
2. R
3. sql
4. java

Some of the commonly used libraries used by Data Scientists include:

1. numpy
2. tensorflow
3. pandas
4. matplotlib

| data science tools|
|-------------------|
|Apache Hadoop |
|Apache Spark|
| Tableu |

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#this a simple arithmetic expression to mutiply then add integers

In [4]:
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60

In [6]:
minutes=200
hours=minutes/60
print(hours)

3.3333333333333335

## Author
Bhuvan Jindal